<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:lang="http://www.springframework.org/schema/lang"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd"
       default-autowire="byName">


    <bean id = "startDispatch" class="com.jd.cof.workflowvisible.engine.dispatchStrategy.ExpressionDispatchStrategyFactory" >
        <property name="decideBasisProvider" >
            <bean class="com.jd.cof.workflowvisible.nodes.startNode.StartProvider" />
        </property>
        <property name="processNameExpr" value="${start.pExp}" />
        <property name="finishValueExpr" value="0" />
    </bean>

    <bean id = "aDispatch" class="com.jd.cof.workflowvisible.engine.dispatchStrategy.ExpressionDispatchStrategyFactory" >
        <property name="decideBasisProvider" >
            <bean class="com.jd.cof.workflowvisible.nodes.aNode.AProvider" />
        </property>
        <property name="processNameExpr" value="${a.pExp}" />
        <property name="finishValueExpr" value="0" />
    </bean>


    <bean id = "bDispatch" class="com.jd.cof.workflowvisible.engine.dispatchStrategy.ExpressionDispatchStrategyFactory" >
        <property name="decideBasisProvider" >
            <bean class="com.jd.cof.workflowvisible.nodes.bNode.BProvider" />
        </property>
        <property name="processNameExpr" value="${b.pExp}" />
        <property name="finishValueExpr" value="0" />
    </bean>


    <bean id="abstractSingleDispatch" class="com.jd.cof.workflowvisible.engine.dispatchStrategy.SingleDispatchStrategyFactory" abstract="true" >
        <constructor-arg index="1" value="0" />
    </bean>

    <bean id = "cDispatch" parent="abstractSingleDispatch" >
        <constructor-arg index="0" value="End" />
    </bean>

    <bean id = "dDispatch" parent="abstractSingleDispatch" >
        <constructor-arg index="0" value="End" />
    </bean>

    <bean id = "endDispatch" parent="abstractSingleDispatch" >
        <constructor-arg index="0" value="null" />
        <constructor-arg index="1" value="1" />
    </bean>



</beans>